.counter {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;

  &__buttons {
    display: inherit;
    justify-content: space-between;
    width: 100px;
  }
}
